<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人博客</title>
    <link rel="stylesheet" href="./css/siteMap.css">
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script src="./js/axios.js"></script>
</head>

<body>
    <div class="title"><a href="/">博客主页</a>|<a href="./siteMap.html">博客目录</a></div>
    <div class="wrapper">
        <div class="crumb">
            <a href="./index.html">博客主页</a>&gt;&gt;目录
        </div>
        <div class="container" id="blog-list">
            <p class="article-list">文章目录</p>
            <ul class="blog-list">
                <li class="item" v-for="(item, index) in blogList" :key='index'>
                    <span>原创</span>
                    <a :href="item.link">{{item.title}}</a>
                    <p>{{item.content}}</p>
                </li>
            </ul>
            <div class="changePage">
                <ul>
                    <li v-for="(item,index) in pageList" :key="index" :class="{active:item.text == nowPage}"
                        @click="jump(item.page)">{{item.text}}</li>
                </ul>
            </div>
        </div>
    </div>
    <script src="./js/siteMap.js"></script>
</body>

</html>